[tools]
# YAML
uv = "latest" # for install yamllint

# Markdown
markdownlint-cli2 = "latest"

# JSON
biome = "latest"

# GitHub Actions
actionlint = "latest"
shellcheck = "latest"

# Other tools
watchexec = "latest"
lefthook = "latest"

# integration test
pnpm = "latest"
