[tools]
# YAML
uv = "latest" # for install yamllint

# Markdown
"npm:markdownlint-cli" = "latest"

# JSON
biome = "latest"

# GitHub Actions
actionlint = "latest"
shellcheck = "latest"

# Other tools
lefthook = "latest"
